
*\.idea/
_tools/

/service\.streamlink\.proxy/

/script\.module\.tulip/

/script\.module\.streamlink\.plugins/

/script\.module\.cryptolib/

/script\.module\.streamlink\.base/

/repository\.twilight0\.libs/

/script\.module\.jsbeautifier/

/script\.module\.cloudscraper/

/script\.module\.futures/

/script\.module\.metadatautils/

/script\.module\.scrapetube/

/script\.module\.resolveurl\.pluginsgr/
